/Day29PasswordManager/data.txt
/Day29PasswordManager/data.json
/Day31FlashCards/data/Wordlist Sources/
/Day31FlashCards/data/words_to_learn.csv
/Day32EmailSMTP/credentials.py
/Day15CoffeeMachine/Coffee+Machine+Program+Requirements.pdf
